<!DOCTYPE html>
<html>

<head>

<title>Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<div class="sidebar">

    <h2>UMEED</h2>

    <a href="/">Dashboard</a>
    <a href="/admin">Admin</a>

</div>

<div class="main">

    <h1>Analytics Dashboard</h1>

    <div class="card">

        <h3>Total Recovery</h3>

        <p>Rs {{ total }}</p>

    </div>

    <div class="chart-box">

        <canvas id="myChart"></canvas>

    </div>

</div>

<script>

const ctx = document.getElementById('myChart');

new Chart(ctx, {

    type: 'line',

    data: {

        labels: {{ labels|tojson }},

        datasets: [{

            label: 'Recovery',

            data: {{ amounts|tojson }},

            borderColor: '#2563eb',
            tension: 0.4

        }]
    }

});

</script>

</body>
</html>
